//Start ticketRoom
#ticketRoom {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    // height: 100vh;
    position: relative;
    padding: 65px 0;

    //Start ticketRoom__wrap
    .ticketRoom__wrap {
        padding: 40px 0;
        position: relative;
        z-index: 2;

        //Start ticketRoom__about
        .ticketRoom__about {

            //Start ticketRoom__about-date
            .ticketRoom__about-date {
                color: white;

                span {
                    font-size: 1.1rem;
                    letter-spacing: 1px;
                }
            }
            //End ticketRoom__about-date

            //Start ticketRoom__about-enforcement
            .ticketRoom__about-enforcement {

                .about__enforcement-heading {
                    color: white;
                }

                .about__enforcement-text {
                    color: $primary-color;

                    span {
                        margin: 0 5px;
                        font-size: 1.7rem;
                        letter-spacing: 1px;
                    }
                }
            }
            //End ticketRoom__about-enforcement
        }
        //End ticketRoom__about

        //Start ticketRoom__rowSeats
        .ticketRoom__rowSeats {
            margin-top: 30px;

            //Start ticketRoom__rowSeats-screen 
            .ticketRoom__rowSeats-screen {
                height: 10px;
                // background-color: $secondary-color;
                background-image: linear-gradient(to bottom right, $primary-color, $secondary-color, $secondary-color);
                position: relative;

                &::after {
                    content: 'Màn hình';
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 80px;
                    background-image: linear-gradient(to bottom, white, transparent);
                    clip-path: polygon(4% 0, 96% 0, 100% 100%, 0% 100%);
                    color: black;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    z-index: -1;
                }
            }
            //End ticketRoom__rowSeats-screen
            

            //Start ticketRoom__rowSeats-module
            .ticketRoom__rowSeats-module {
                margin-top: 95px;

                //Start rowSeats__module-name  
                .rowSeats__module-name {
                    color: $primary-color;
                    
                    div {
                        width: 30px;
                        height: 30px;
                        border-radius: 7px;
                        border: 1px solid white;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        margin-bottom: 10px;
                    }
                }
                //Start rowSeats__module-name

                //Start rowSeats__module-list
                .rowSeats__module-list {
                    display: flex;
                    flex-wrap: wrap;

                    .rowSeats__module-item {
                        width: calc(100% / 16);
                        height: 35px;

                        button {
                            width: 80%;
                            height: 80%;
                            border: none;
                            border-radius: 5px;
                            background-color: white;
                            outline: none;
                            cursor: pointer;
                        }

                        .rowSeats__module-btn.gheVip {
                            background-image: linear-gradient(to left, $primary-color, $secondary-color);
                        }

                        .rowSeats__module-btn.dangChon {
                            background-image: linear-gradient(to left, rgb(51, 180, 105), rgb(123, 192, 152)) !important;
                        }

                        .rowSeats__module-btn.daDat {
                            cursor: not-allowed !important;
                        }
                    }
                }
                //End rowSeats__module-list

            }
            //End ticketRoom__rowSeats-module
        }
        //End ticketRoom__rowSeats

        //Start ticketRoom__note
        .ticketRoom__note {
            margin-top: 50px;
            
            .ticketRoom__note-item {
                display: flex;
                align-items: center;


                .ticketRoom__note-btn {
                    width: 30px;
                    height: 28px;
                    border: none;
                    border-radius: 5px;
                    background-color: white;
                    outline: none;
                    margin-right: 10px;
                }
    
                .ticketRoom__note-btn.gheVip {
                    background-image: linear-gradient(to left, $primary-color, $secondary-color);
                }
    
                .ticketRoom__note-btn.dangChon {
                    background-image: linear-gradient(to left, rgb(51, 180, 105), rgb(123, 192, 152)) !important;
                }

                span {
                    color: white;
                }
            }

        }
        //End ticketRoom__note


        //Start ticketRoom__booking 
        .ticketRoom__booking {
            display: flex;
            align-items: center;
            justify-content: center;
            //Start ticketRoom__booking-wrap
            .ticketRoom__booking-wrap {
                transform: translateY(30px);
                width: 80%;
                // height: 500px;
                box-shadow: 5px 5px 15px rgba(255,255,255,0.3), -5px -5px 15px rgba(255,255,255,0.3);
                padding: 10px;

                .ticketRoom__booking-list {

                    .ticketRoom__booking-item {
                        border-bottom: 1px dashed white;
                        color: white;
                        padding: 10px 0;

                        &:last-child {
                            border-bottom: none;
                        }

                        .ticketRoom__booking-heading {
                            text-align: center;
                            color: white;
                            font-weight: 500;
                        }
                        
                        .col-6 {
                            padding: 0;
                        }

                        .ticketRoom__booking-btn {
                            width: 100%;
                            background-color: $primary-color;
                            color: white;
                            border: none;
                            border-radius: 5px;
                            outline: none;
                            padding: 10px 0;
                            cursor: pointer;
                            transition: all 0.6s;

                            &:hover {
                                background-color: white;
                                color: $primary-color;
                            }
                        }
                    }
                }
            }
            //End ticketRoom__booking-wrap
        }
        //End ticketRoom__booking
    }
    //End ticketRoom__wrap

    //Start overlay
    .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,0.7);
        z-index: 1;
    }
    //End overlay

    //Start startBooking
    .startBooking {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,0.8);
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 2000;

        button {
            padding: 10px 20px;
            background-image: linear-gradient(to left bottom, $primary-color, $secondary-color);
            outline: none;
            border: none;
            border-radius: 10px;
            cursor: pointer;
            color: white;
            box-shadow: -1px 3px 3px 0 rgba(80, 80, 80, .2);
            transition: all 0.6s;

            &:hover {
                position: relative;
                transform: translateY(-10px);
                box-shadow: -6px 14px 12px 2px rgba(255, 255, 255, .34);
            }
        }

        .startBooking__note {
            position: absolute;
            bottom: 100px;
            left: 50%;
            transform: translateX(-50%);

            span {
                color: white;
                font-size: 1.5rem;
            }

            i {
                color: $primary-color;
                font-size: 2rem;
                margin-right: 20px;
            }
        }
    }
    //End startBooking
}
//End ticketRoom